@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  margin: 0;
}

@layer base {
  body {
    @apply bg-zinc-950 text-zinc-50 antialiased;
  }
}

@layer utilities {
  .glass {
    @apply bg-zinc-950/80 backdrop-blur-md border border-zinc-800/50;
  }
  
  .glass-light {
    @apply bg-white/10 backdrop-blur-md border border-white/20;
  }
}
